<!DOCTYPE html>
<html>
  <head>
    <title>&#127866;<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="shortcut icon" href="/favicon-flightstats.ico">
    <script>
    $( document ).ready(function() {
	    $.get( "status/0", function( data ) {
		  $( "#status0" ).html( data );
		});
		$.get( "status/1", function( data ) {
		  $( "#status1" ).html( data );
		});
		$.get( "status/2", function( data ) {
		  $( "#status2" ).html( data );
		});
		$.get( "cal/0", function( data ) {
		  $( "#cal0" ).html( data );
		});
		$.get( "cal/1", function( data ) {
		  $( "#cal1" ).html( data );
		});
		$.get( "cal/2", function( data ) {
		  $( "#cal2" ).html( data );
		});
    });
 
    $( window ).load(function() {
        console.log( "window loaded" );
    });
    </script>
    <script>
    	
    </script>
  </head>
  <body>
    <div class="bar" style="padding:10px;margin-bottom:5px">
      <div class="fslogo" style="color:white;"> &#127866; &#127866; &#127866; &#127866; &#127866; &#127866; &#127866; &#127866; &#127866; </div>
    </div>

    <table>
    	<tr>
    		<th>Tap</th>
    		<th>Status</th>
    		<th></th>
    		<th></th>
    	</tr>
  		<tr>
  			<td>Downstairs Left (0)</td>
  			<td><div><span id="status0"></span> of <span id="cal0"></span></div></td>
  			<td><div><a href="reset/0">Reset</a></div></td>
	    	<td>
	    		<input onchange="$('#set0').attr('href', 'set/0/' + $(this).val());" id="val"></input>
	    		<a href="set/0" id="set0">Set</a>
	    	<td>
  		</tr>
  		<tr>
  			<td>Downstairs Center (1)</td>
  			<td><div><span id="status1"></span> of <span id="cal1"></span></div></td>
  			<td><div><a href="reset/1">Reset</a></div></td>
  			<td>
	    		<input onchange="$('#set1').attr('href', 'set/1/' + $(this).val());" id="val"></input>
	    		<a href="set/1" id="set1">Set</a>
	    	<td>
  		</tr>
  		<tr>
  			<td>Downstairs Right (2)</td>
  			<td><div><span id="status2"></span> of <span id="cal2"></span></div></td>
  			<td><div><a href="reset/2">Reset</a></div></td>
  			<td>
	    		<input onchange="$('#set2').attr('href', 'set/2/' + $(this).val());" id="val"></input>
	    		<a href="set/2" id="set2">Set</a>
	    	<td>
  		</tr>
  	</table>

    <div class="bar" style="margin-top:5px;padding:10px;">
    	<div><a href="https://insights.newrelic.com/accounts/565031/dashboards/99841">FSBeer Insights Dashboard</a></div>
    	<div><a href="http://wiki.office/wiki/Beer">FSBeer Wiki Docs</a></div>
    	<div><a href="https://github.com/berkley/spark/blob/master/firmware/beer/README.md">FSBeer Code</a></div>
    </div>

  </body>
</html>
