<!DOCTYPE html>
<html>
<head>
	<title>El Casa Poder 2000</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="./freddy.png" />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="spectrum.js" type="text/javascript"></script>
	<link rel="stylesheet" href="spectrum.css" type="text/css"/>
	<meta name="viewport" content="width=250" />
	<style>
		body 
		{
			background-color: grey;
			max-width: 220px;
			margin: 0 auto;
			float: none;
		}
		img.centered
		{
			display: block;
		    margin-left: auto;
		    margin-right: auto
		}
    </style>
</head>
<body>
	<br/>
	<div id="header" style="border:0px solid black; padding:5px; margin:5px">
	<a href="/"><img class="centered" src="freddy.png"/></a>
	<h3 style="text-align:center">El Casa Poder 2000</h3>
	</div>
	<div id="rootDiv" style="border:1px solid black; padding:5px; margin:5px">
		<a href="/freddy">Freddy</a> | 
		<a href="/camp">Camp</a> |
	</div>
</body>
</html>
