<!DOCTYPE html>
<html>
<head>
	<title>El Casa Poder 2000</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="./freddy.png" />
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="spectrum.js" type="text/javascript"></script>
	<link rel="stylesheet" href="spectrum.css" type="text/css"/>
	<meta name="viewport" content="width=250" />
	<script>
    $( document ).ready(function() {
        $('#spinner').hide();
    });
 
    $( window ).load(function() {
    });
    </script>
	<style>
		body 
		{
			background-color: grey;
			max-width: 220px;
			margin: 0 auto;
			float: none;
		}
		img.centered
		{
			display: block;
		    margin-left: auto;
		    margin-right: auto
		}
    </style>
</head>
<body>
	<br/>
	<div id="header" style="border:0px solid black; padding:5px; margin:5px">
	<img class="centered" src="freddy.png"/>
	<h3 style="text-align:center">El Casa Poder 2000</h3>

	</div>
	<div id="rootDiv" style="border:1px solid black; padding:5px; margin:5px">

		Valve:
		<select id="valveSelect" name="valves">
			<% for(var i=0; i<water.valves.length; i++) {%>
			   <option value="<%= water.valves[i].id %>"><%= water.valves[i].name %></option>
			<% } %>
			<option value="all">All</option>
		</select>

		<br/>
		<button id="goButton">On</button>
		<button id="stopButton">Off</button>
		<br/>

		<div id="status"></div>
		<div id="result"></div>
		<img style="width:30px;" id="spinner" width="100" src="spinner.gif">
		<input type="hidden" id="defaultCoreId" value="<%= water.core %>"/>
	</div>

	<script>
		var paramState = null;

		var goButton = document.querySelector("#goButton");
		var stopButton = document.querySelector("#stopButton");
		var select = document.querySelector("select");

		var runQuery = function(verb) {
	    	$('#spinner').show();
	    	$('#status').html("");
	    	$('#result').html("");
		    $.get("/water/run/action", 
		    	{"action":verb, coreName:$('#defaultCoreId').val(), valve:$('#valveSelect').val()}, 
		    	function(data) {
		      $('#status').html("<h3>Request Complete.  Spark said:</h3>");
			  $('#result').html( data );
			  $('#spinner').hide();
			});
	    };

	 //    var getParamsFromCore = function() {
		// 	$('#spinner').show();
		// 	$.get("/house/run/action", 
		//     	{"action":verb, coreId:$('#coreIdSelect').val(), r1:$('#r1').val(), g1:$('#g1').val(), b1:$('#b1').val(), r2:$('#r2').val(), g2:$('#g2').val(), b2:$('#b2').val(), delay:$('#delay').val(), blockSize:$('#blockSize').val(), duration:$('#duration').val(), maxVelocity:$('#maxVelocity').val(), numParticles:$('#numParticles').val(), respawn:$('#respawn').prop('checked'), flicker:$('#flicker').prop('checked'), threed:$('#threed').prop('checked')}, 
		//     	function(data) {
		//       $('#status').html("<h3>Request Complete.  Spark said:</h3>");
		// 	  $('#result').html( data );
		// 	  $('#spinner').hide();
		// 	});
		// };


		stopButton.addEventListener("click", function(ev) {
			console.log("off");
			runQuery("off");
		}, false);

	    goButton.addEventListener("click", function(ev) {
	    	console.log("on");
	    	runQuery("on");
	    }, false);

	    
	</script>

</body>
</html>
